:root {
    --muted: #6c757d;
    --accent: #1aa66a;
    --soft: #f7f7f7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--soft);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 1100px;
}

.image-section {
    flex: 1;
}

.image-section img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    filter: brightness(90%);
    animation: fadeIn 1.2s ease-in-out;
}

.form-section {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    animation: slideIn 1.1s ease-in-out;
}

.form-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #111;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    background: transparent;
    outline: none;
    transition: border-color 0.3s;
    border-radius: 6px;
}

input:focus {
    border-color: var(--accent);
}

.btn {
    padding: 12px;
    background: var(--accent);
    color: #fff;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 6px;
}

.btn:hover {
    background: #158a57;
    transform: translateY(-3px);
}

.toggle-text {
    margin-top: 20px;
    font-size: 0.9rem;
    color: var(--muted);
}

.toggle-text a {
    color: var(--accent);
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.toggle-text a:hover {
    color: #056e3e;
}

@media(max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }

    .image-section img {
        height: 250px;
    }

    .form-section {
        padding: 30px 20px;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.toggle-password {
    /* position: absolute; */
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--muted);
    font-size: 0.9rem;
    user-select: none;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin: auto;
}
#toogle-password:hover {
    color: var(--accent);
}